* {
    font-family: 'Poppins', sans-serif;
}
main {
    justify-content: center;
    width: 100%;
}
.intro-section {
    display: flex;
}
h1 {
    font-weight: 700px;
}
.prebook {
    border: 0px solid transparent;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 44px;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 9px;
    border-radius: 41px;
}