* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
  }
  main {
    justify-content: center;
    width: 100%;
  }
  .common-section {
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 95px;
    justify-content: center;
    align-items: center;
  }
  
  .zoom {
    transition: transform 0.5s;
  }
  
  .zoom:hover {
    transform: scale(1.1);
  }
  .zoom1 {
    transition: transform 0.5s;
  }
  .zoom1:hover {
    transform: scale(1.3);
  }
  
  /*--------------------- header section start ----------------------------------*/
  
  #navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #navigation-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  #navigation-container a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 5px 15px;
  }
  
  #navigation-container li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /*--------------------- header section end ----------------------------------*/
  
  /* -------------------------- intro section start --------------------------------*/
  
  .intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .blog-part {
    width: 582px;
    height: 270px;
  }
  .image-part img {
    width: 440px;
    height: 414px;
  }
  h1 {
    font-weight: 700px;
  }
  .intro-section > .blog-part p {
    margin-bottom: 25px;
  }
  .prebook-button {
    border: 0px solid transparent;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 44px;
    color: #ffffff;
    background-color: #e02c6d;
    padding: 9px;
    border-radius: 41px;
  }
  /* -------------------------------- intro section end --------------------------------*/
  
  /* ------------------------- brand image section start ---------------------------*/
  
  .brand-image-section {
    display: flex;
    justify-content: center;
    padding: 36px 62px;
  }
  .brand-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 61px;
  }
  .brand-image img {
    padding-right: 60px;
  }
  /* ---------------------------- brand image section end --------------------------------*/
  
  /* -------------------------------- component start --------------------------------*/
  
  .component-heading {
    text-align: center;
  }
  .components {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  /* .component{
      
  } */
  .seemore-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    background: none;
    border: 0px solid transparent;
    font-weight: 700;
    width: 99px;
    height: 24px;
    color: #f70f64;
    padding: 9px;
  }
  /* -------------------------------- component end --------------------------------*/
  
  /*----------------------------- creative section start -------------------------- */
  .creative-header {
    text-align: center;
    color: white;
    background-color: #cc4576;
    padding: 40px;
  }
  .creative-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contact-info,
  .creative-left {
    box-shadow: 2px 2px 20px rgba(161, 31, 60, 0.233);
    border: 0px solid gray;
    padding: 30px;
    margin-right: 40px;
    text-align: right;
    height: 400px;
    width: 451px;
  
    overflow: hidden;
  }
  .creative-left {
    text-align: left;
  }
  .submit-button {
    width: 100px;
    margin-left: 50%;
    margin-right: 50%;
    border: 0px solid transparent;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #e02c6d;
    padding: 9px;
  }
  /*------------------------------ creative section end ----------------------------*/
  
  /* -------------------------------- footer start --------------------------------*/
  
  .footer {
    text-align: center;
    color: white;
    background-color: #0a0826;
    padding: 50px 289px;
  }
  .footer .social-media-links {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
  }
  .footer i {
    font-size: 32px;
    margin-right: 16px;
  }
  /* -------------------------------- footer end  --------------------------------*/
  
  /*----------------- media queries------------- */
  @media only screen and (max-width: 688px) {
    #navigation-container {
      display: none;
    }
  
    .common-section {
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 40px;
    }
    .intro-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-left: 80px;
    }
    .blog-part {
      width: 100%;
    }
    .image-part img {
      width: 250px;
      height: auto;
      margin-top: 100px;
    }
    .brand-image-section {
      flex-wrap: wrap;
    }
    .components {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      padding-left: 57px;
    }
    .component-heading {
      margin-left: 94px;
    }
    .creative-header {
      font-size: 0.7em;
      width: 320px;
    }
    .creative-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .creative-left {
      margin-left: 112px;
      font-size: 14px;
      width: 300px;
      height:max-content;
      margin-bottom: 40px;
    }
    .contact-info
    {
      margin-left: 112px;
      width: 300px;
      height:max-content;
    }
    .contact-info h1 {
      margin-left: 94px;
    }
    .footer {
        padding: 0;
    }
  }

  @media only screen and (min-width: 688px) and (max-width:992px){
    #navigation-container {
        display: none;
      }
    
      .common-section {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 40px;
      }
      .intro-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-left: 50px;
      }
      .blog-part {
        width: 100%;
      }
      .image-part img {
        width: 250px;
        height: auto;
        margin-top: 100px;
      }
      .brand-image-section {
        display: flex;
      }
      .components {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        padding-left: 57px;
      }
      .component-heading {
        margin-left: 94px;
      }
      .creative-header {
        font-size: 0.7em;
        width: 688px;
      }
      .creative-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .creative-left {
        margin-left: 112px;
        font-size: 14px;
        width: 300px;
        height:max-content;
        margin-bottom: 40px;
      }
      .contact-info
      {
        margin-left: 112px;
        width: 300px;
        height:max-content;
      }
      .contact-info h1 {
        margin-left: 94px;
      }
  }