* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
main {
    justify-content: center;
    width: 100%;
    border: 3px solid black;
}
.common-section {
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 95px;
}
.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-section > .blog-part {
    width: 582px;
    height: 270px;
}
.image-part img{
    width: 440px;
    height: 414px;
}
h1 {
    font-weight: 700px;
}
.intro-section > .blog-part p{
    margin-bottom: 25px;
}
.prebook {
    border: 0px solid transparent;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 44px;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 9px;
    border-radius: 41px;
}
.brand-image-section{
    display: flex;
    justify-content: center;
    padding: 36px 62px;
    border: 3px solid gray;
}
.brand-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 61px;
}
.brand-image img{
    padding-right: 60px;
}

/* --------------------------------component start --------------------------------*/

.component-heading{
    text-align: center;
}
.components {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}